<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Link VUE JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- Link CSS -->
    <link rel="stylesheet" href="style.css">

    <!-- Link Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <title>VUE Slider</title>
</head>

<body>

    <div class="container py-0">

        <div class="row">

            <!-- Colonna immagini slider a sinistra -->
            <div class="col-10">

                <!-- Wrapper slider -->
                <div class="slider_wrapper" @mouseLeave="autoPlay" @mouseEnter="stopPlay">
                    <div class="item" v-for="(item, index) in arrayItems" :class="index == imgCurrent ? 'active' : '' ">
                        <img :src="item.immagine"/>                                                     
                        <div class="description">
                            <h1 class="title-item">{{item.titolo}}</h1>
                            <p class="testo">{{item.testo}}</p>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Colonna immagini slider a destra -->
            <div class="col-2">

                <!-- Wrapper controlli immagini -->
                <div class="controls_wrapper">

                    <div class="control_item" v-for="(item, index) in arrayItems" :class="index == imgCurrent ? 'active-control' : '' " >
                        <img :src="item.immagine"/>                                                     
                    </div>

                    <!-- Controlli, frecce per cambiare immagine -->
                    <div class="controls">

                        <div @mouseLeave="autoPlay" @mouseEnter="stopPlay" @click="arrowUp" class="arrow-up">
                            <i class="fas fa-angle-up"></i>
                        </div>

                        <div @mouseLeave="autoPlay" @mouseEnter="stopPlay" @click="arrowDown" class="arrow-down">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>



    <!-- Link JavaScript -->
    <script src="app.js"></script>


</body>

</html>